<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>I am a C programmer. Why I love AngularJS? - Yogi's corner</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="http://www.everyogi.in/images/logo.jpeg" rel="icon">

<link rel="canonical" href="http://www.everyogi.in/javascript/i_am_a_c_programmer_why_i_love_angularjs/">

        <meta name="author" content="Yogeswaran Thulasidoss" />
        <meta name="keywords" content="angularjs,javascript,html,opinion" />
        <meta name="description" content="The intended audience for this blog are not the people who have profound knowledge in HTML and Javascript. This is only for those who are in inertia to experiment with web development. Also, please be aware that this is not beginner&#39;s tutorial for AngularJS. I have this habit of trying some web related stuff rarely once in a year. Couple of years back on a fine morning started to play with jQuery and was impressed by its power. But at the end of the day thought there is so much to APIs to remember or at least be aware ..." />



    <!-- Bootstrap -->
        <link rel="stylesheet" href="http://www.everyogi.in/theme/css/bootstrap.cosmo.min.css" type="text/css"/>
    <link href="http://www.everyogi.in/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="http://www.everyogi.in/theme/css/pygments/monokai.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.everyogi.in/theme/css/style.css" type="text/css"/>
        <link href="http://www.everyogi.in/static/custom.css" rel="stylesheet">

        <link href="http://www.everyogi.in/feeds/all.atom.xml" type="application/atom+xml" rel="alternate"
              title="Yogi's corner ATOM Feed"/>

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://www.everyogi.in/" class="navbar-brand">
<img src="http://www.everyogi.in/images/logo.jpeg" width="24"/> Yogi's corner            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                        <li >
                            <a href="http://www.everyogi.in/category/c.html">C</a>
                        </li>
                        <li class="active">
                            <a href="http://www.everyogi.in/category/javascript.html">Javascript</a>
                        </li>
                        <li >
                            <a href="http://www.everyogi.in/category/misc.html">Misc</a>
                        </li>
                        <li >
                            <a href="http://www.everyogi.in/category/python.html">Python</a>
                        </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.everyogi.in/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->

<div class="container">
    <div class="row">
        <div class="col-sm-9">

    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="http://www.everyogi.in/javascript/i_am_a_c_programmer_why_i_love_angularjs/"
                       rel="bookmark"
                       title="Permalink to I am a C programmer. Why I love AngularJS?">
                        I am a C programmer. Why I love AngularJS?
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                <div class="panel">
                    <div class="panel-body">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2014-02-22T19:01:42+05:30"> Sat 22 February 2014</time>
    </span>



<span class="label label-default">Tags</span>
	<a href="http://www.everyogi.in/tags/angularjs.html">angularjs</a>
        /
	<a href="http://www.everyogi.in/tags/javascript.html">javascript</a>
        /
	<a href="http://www.everyogi.in/tags/html.html">html</a>
        /
	<a href="http://www.everyogi.in/tags/opinion.html">opinion</a>
    
</footer><!-- /.post-info -->                    </div>
                </div>
                <p>The intended audience for this blog are not the people who have profound knowledge in HTML and Javascript.  This is only for those who are in inertia to experiment with web development.  Also, please be aware that this is not beginner's tutorial for AngularJS.</p>
<p>I have this habit of trying some web related stuff rarely once in a year.  Couple of years back on a fine morning started to play with jQuery and was impressed by its power.  But at the end of the day thought there is so much to APIs to remember or at least be aware of. Then decided, it's not going to work out for me and that was the last time I tried anything on the web.</p>
<p>Last week I had a chance to play with AngularJS and my immediate reaction was "WoW!!!". After my first encounter with AngularJS I thought this is not going to be just one day affair and fell in love with AngularJS. During the course of this blog I'll walk you through the features of AngularJS which impressed me.</p>
<h4 id="framework-and-library">Framework and library:</h4>
<p>First of all, AngularJS is not library like jQuery, it is a framework.  So there is no onus of remembering the APIs.</p>
<h4 id="empowering-html">Empowering HTML:</h4>
<p>HTML was born when the intention of web was only to display static content.  As the name suggests that is only a markup language - nothing wrong, nobody to blame. The people who designed that had only scoped for that.  But now, the web is not that simple.
And being a C programmer I wished if there is anyway to add if condition, loop, block scope in HTML.  AngularJS comes as a prosthetic limb for the handicapped HTML.</p>
<p>To display an element only when a condition is met (i.e.,) having a if construct. This is possible in AngularJS using <code>ng-if</code> or <code>ng-show</code> directive.</p>
<div class="highlight"><pre><span></span><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;customer.name&quot;</span> <span class="na">ng-if=</span><span class="s">&quot;customer.edit&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;span</span> <span class="na">ng-bind=</span><span class="s">&quot;customer.name&quot;</span> <span class="na">ng-if=</span><span class="s">&quot;!customer.edit&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
</pre></div>


<p>If customer.edit is set true, customer.name will be displayed in text box, else will be displayed in span.</p>
<p>To iterate through a array of items and create a <code>&lt;ul&gt;</code> or <code>&lt;li&gt;</code> or even populate a
<code>&lt;table&gt;</code>.  <code>ng-repeat</code> directive does the job.</p>
<div class="highlight"><pre><span></span><span class="nt">&lt;table&gt;</span>
    <span class="nt">&lt;thead&gt;</span>
        <span class="nt">&lt;tr&gt;</span>
            <span class="nt">&lt;th&gt;</span>Name<span class="nt">&lt;/th&gt;</span>
            <span class="nt">&lt;th&gt;</span>Amount<span class="nt">&lt;/th&gt;</span>
            <span class="nt">&lt;th&gt;</span>ROI<span class="nt">&lt;/th&gt;</span>
        <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;/thead&gt;</span>
    <span class="nt">&lt;tbody&gt;</span>
        <span class="nt">&lt;tr</span> <span class="na">ng-repeat=</span><span class="s">&quot;customer in customers&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;td</span> <span class="na">ng-bind=</span><span class="s">&quot;customer.name&quot;</span><span class="nt">&gt;&lt;/td&gt;</span>
            <span class="nt">&lt;td</span> <span class="na">ng-bind=</span><span class="s">&quot;customer.amount&quot;</span><span class="nt">&gt;&lt;/td&gt;</span>
            <span class="nt">&lt;td</span> <span class="na">ng-bind=</span><span class="s">&quot;customer.roi&quot;</span><span class="nt">&gt;&lt;/td&gt;</span>
        <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span>
</pre></div>


<p>To restrict the scope of variables and functions within a block, <code>ng-controller</code> can be used.
Though the use of <code>ng-controller</code> is more than that.</p>
<div class="highlight"><pre><span></span><span class="nt">&lt;script&gt;</span>
    angular.module(&quot;bank&quot;, []).
    controller(&#39;BankController&#39;,
        function BankController($scope) {
            $scope.customers = [name:&#39;kansamy&#39;, amount:&#39;1000&#39;, roi:&#39;9&#39;, edit:0}, {name:&#39;munsamy&#39;, amount:&#39;300&#39;, roi:&#39;2&#39;, edit:0}];
            $scope.customer = {name:&#39;&#39;, amount:&#39;&#39;, roi:&#39;&#39;, edit:0};
        });
<span class="nt">&lt;script&gt;</span>
<span class="nt">&lt;body</span> <span class="na">ng-app=</span><span class="s">&quot;bank&quot;</span> <span class="na">ng-controller=</span><span class="s">&quot;BankController&quot;</span><span class="nt">&gt;</span>
...
<span class="nt">&lt;/body&gt;</span>
</pre></div>


<p>The scope of bank controller is throughout the <code>&lt;body&gt;</code>.
This scope can be restricted to any <code>&lt;div&gt;</code> or any other element by setting
<code>ng-controller</code> accordingly. <code>$scope</code> variable has a special meaning mapping to
the scope of the controller.</p>
<p>There is much more talk to about AngularJS - what I have captured here is only the picture of love at first sight.</p>
<p>I have hosted a simple no use application exercising these features of AngularJS
<a href="https://brilliant-fire-1717.firebaseapp.com/bank.html">https://brilliant-fire-1717.firebaseapp.com/bank.html</a></p>
<p>No wonder, these features can one day become integral part of HTML.</p>
<p>This article was first published in <a href="http://www.chennainerd.in/blog/2014/02/22/i-am-a-c-programmer-why-i-love-angularjs/">chennainerd.in</a> on FEB 22ND, 2014.</p>
            </div>
            <!-- /.entry-content -->
    <hr />
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5800fd37485cdfec"></script>
    <!-- AddThis Button END -->
        </article>
    </section>

        </div>
        <div class="col-sm-3" id="sidebar">
            <aside>
<div id="aboutme">
    <p>
        <strong>About Yogeswaran Thulasidoss</strong><br/>
        Passionate programmer.  Proud father.  Prospective agriculturist.
    </p>
</div>
<section class="well well-sm">
    <ul class="list-group list-group-flush">
            <li class="list-group-item"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Social</span></h4>
              <ul class="list-group" id="social">
                <li class="list-group-item"><a href="http://twitter.com/yogeswarant"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
                <li class="list-group-item"><a href="https://github.com/yogeswarant"><i class="fa fa-github-square fa-lg"></i> github</a></li>
                <li class="list-group-item"><a href="https://in.linkedin.com/in/yogeswaran-thulasidoss-ab29a22a"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a></li>
              </ul>
            </li>

            <li class="list-group-item"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Recent Posts</span></h4>
                <ul class="list-group" id="recentposts">
                    <li class="list-group-item">
                        <a href="http://www.everyogi.in/misc/random_rationalized/">
                            Random Rationalized
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://www.everyogi.in/c/gcov_code_coverage_tool/">
                            GCOV - C/C++ Code coverage testing tool
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://www.everyogi.in/python/generators_in_python/">
                            Generators in Python
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://www.everyogi.in/javascript/i_am_a_c_programmer_why_i_love_angularjs/">
                            I am a C programmer. Why I love AngularJS?
                        </a>
                    </li>
                </ul>
            </li>


            <li class="list-group-item"><a href="http://www.everyogi.in/tags.html"><h4><i class="fa fa-tags fa-lg"></i><span class="icon-label">Tags</span></h4></a>
                <ul class="list-group " id="tags">
                </ul>
            </li>
    </ul>
</section>
            </aside>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 Yogeswaran Thulasidoss
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="http://www.everyogi.in/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://www.everyogi.in/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="http://www.everyogi.in/theme/js/respond.min.js"></script>

</body>
</html>